<ul class="nav-bar">
  <a class="nav" href="/"><img id="logo" src="/images/logo.png" alt="logo"/></a>
  <li class="nav"><a href="#">Order Form</a></li>
  <li class="nav"><a href="/login">Login</a></li>
</ul>
